
.centre {
    text-align: center;}
    
.blue{color: blue;
}
.red{color: red}
.blue{color:blue
}
.orange{color: orange;}
.green{color: green;}
.bold{font-weight: bold;}
.xl{font-size: x-large;}
.sm{font-size: xx-small;}
.font{font-style: italic;}
#styledImage{border: solid 5px orange;
}
.color{background-color: rgb(10, 102, 82);}
body{background-color:rgb(42, 221, 147);}
footer {
    display: block;
}